---
---

/*
  If the number of TAB files has changed, the following variable is required.
  And it must be defined before `@import`.
*/
$tab-count: {{ site.tabs | size | plus: 1 }}; // plus 1 for home tab

@import "{{ site.theme }}";

/* append your custom style below */

@font-face {
  font-family: DGM;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(DungGeunMo/DungGeunMo.ttf) format('truetype')
}

@font-face {
  font-family: Lato;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(MaruBuri/MaruBuri-Light.ttf) format('truetype')
}

@font-face {
  font-family: Lato;
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(MaruBuri/MaruBuri-Regular.ttf) format('truetype')
}

@font-face {
  font-family: Lato;
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(MaruBuri/MaruBuri-Bold.ttf) format('truetype')
}

@font-face {
  font-family: Lato;
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: url(MaruBuri/MaruBuri-Bold.ttf) format('truetype')
}

@font-face {
  font-family: 'Microsoft Yahei';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(MaruBuri/MaruBuri-Light.ttf) format('truetype')
}

@font-face {
  font-family: 'Microsoft Yahei';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(MaruBuri/MaruBuri-Regular.ttf) format('truetype')
}

@font-face {
  font-family: 'Microsoft Yahei';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(MaruBuri/MaruBuri-Bold.ttf) format('truetype')
}

@font-face {
  font-family: 'Microsoft Yahei';
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: url(MaruBuri/MaruBuri-Bold.ttf) format('truetype')
}

pre > code {
  font-family: DGM;
}


